html{
    height: 100%;
}
body{
    background-color: #F0F0F0;
    color: #666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 100%;
}
a{
    text-decoration: none;
    transition-property: color;
    transition-duration: .2s;
}
.wrapper{
    width: 630px;
    margin: 0 auto;
    position: relative;
    height: 70%;
}
header{
    background-color: #F0F0F0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 41px;
    border-top: 6px solid #B3B3B3;
    width: 100%;
    z-index: 5;
}
.logo{
    background-color: #B50000;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    top: 3px;
}
.logo:before{
    background-color: #F0F0F0;
    content: " ";
    margin: 0 0 0 9px;
    width: 3px;
    height: 23px;
    display: block;
}
.logo:after{
    background-color: #F0F0F0;
    content: " ";
    margin: 0 0 0 9px;
    width: 14px;
    height: 3px;
    display: block;
}
nav ul{
    padding: 0;
}
nav li{
    display: inline-block;
    list-style: none;
    margin: 0 25px 0 0;
}
nav a{
    color: #666;
    font-size: 14px;
}
nav a:hover{
    color: #000;
}
nav .active,
nav .active:hover{
    color: #B50000;
}
.pane{
    display: none;
    position: absolute;
    right: 0;
    bottom: 50px;

    opacity: 0;
    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    transform: translate(0, 30px);
}
#home{
    text-align: right;
}
#about{
    padding: 0 0 0 120px;
}
#about .about-content a{
    color: #149A9A;
}
#about .avatar{
    position: absolute;
    left: 0;
    bottom: 0;
}
#skills{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}
.skill{
    cursor: pointer;
    float: left;
    margin: 0 50px 0 0;
    position: relative;
    padding: 10px 0;

    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    transform: translate(0, 30px);
    opacity: 0;
}
.last{
    margin-right: 0;
}
.skill .bar{
    background-color: #B3B3B3;
    width: 120px;
    position: relative;
    height: 20px;
    text-align: center;
    z-index: 3;
}
.skill .name{
    color: #FFF;
    line-height: 20px;
    position: relative;
    z-index: 2;
}
.skill .percent{
    display: none;
}
.bar .bar-inner{
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    z-index: 1;
    width: 0;
    transition-property: width;
    transition-duration: .6s;
    transition-timing-function: ease;
}
.bar .blue{
    background-color: #3495D9;
}
.bar .green{
    background-color: #83AD3D;
}
.bar .purple{
    background-color: #5C74D8;
}
.bar .pink{
    background-color: #FF046E;
}
.skill .extra{
    position: absolute;
    text-align: center;
    top: -22px;
    left: 50%;
    white-space: nowrap;
    z-index: 2;
    display: none;
    pointer-events: none;

    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    transform: translate(0, 30px);
    opacity: 0;
}
.skill .arrow{
    position: absolute;
    border: 6px solid #F0F0F0;
    border-bottom-color: #B3B3B3;
    left: 50%;
    top: -8px;
    margin-left: -6px;
    z-index: 2;
    display: none;
    pointer-events: none;

    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    transform: translate(0, 30px);
    opacity: 0;
}
#links{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}
.link{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 3px;

    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    transform: translate(0, 30px);
    opacity: 0;
}
.link a{
    display: block;
    color: #F0F0F0;
    font-size: 28px;
    line-height: 40px;
    background-color: #B3B3B3;
    border-radius: 20px;
    text-align: center;
    transition-property: background-color;
    transition-duration: .2s;
}
.link a:hover{
    background-color: #666;
}
.show{
    display: block;
}
.skill .in,
.in{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
}
.fade{
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}